@model IEnumerable<Models.Inventory>

@{
    ViewData["Title"] = "InvList";
}

<h1>List</h1>

<p>
    <a asp-action="InvCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorBranchesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorBranchesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
              
            </td>
        </tr>
}
    </tbody>
</table>
